.ingredients {
   background-image: url(../img/png/bg-2.png);
   height: 758px;
      display: flex;
   flex-direction: row-reverse;
      align-items: center;
   &__content {
      height: 560px;
      width: 570px;
      background-color: rgba(0, 0, 0, 0.67);
      margin-right: 215px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__title {
      display: block;
      @include h2($white);
      font-size: 36px;
      margin-top: 83px;
      margin-bottom: 16px;
      opacity: 1;
   }
   &__diver {
      margin-bottom: 30px;
      opacity: 1;
   }
   &__text {
      @include text($white);
      max-width: 409px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 70px;
      opacity: 1;
   }

}
